body {
    padding: 0;
    margin: 0;
    background: #d1e3ff;
  }
  /*--- navigation bar ---*/
  .navbar {
    background:#4287f5;
  }
  .nav-link,
  .navbar-brand {
    color: #fff;
    cursor: pointer;
  }
  .nav-link:hover {
    color: #000;
  }

  .header {
    left: 50%;
    position: absolute;
    top: 15%;
    transform: translate(-50%, -55%);
    text-align: center;
  }
  .header h1 {
    color: #000;
  }

  .features {
    margin: 4em auto;
    padding: 1em;
    position: relative;
    text-align: center;
  }
  .feature-title {
    color: #333;
    font-size: 1.3rem;
    font-weight: 700;
    margin-bottom: 20px;
    text-align: center;
  }
  .features img {
    margin-bottom: 16px;
  }